header{
    background-color:$color-secundario;
    width: 100%;
    padding: 0px 0px;
    position: sticky;
    top: 0px;
    z-index: 20;
    @include flex;
    h1{
        text-align:center;
        color: $color-principal;
        font-family:'Poppins', sans-serif;
        font-size: 3.125rem;
    }
    .navBar{
        list-style: none;
        text-align: right;
        display: flex;
        li a{
            font-family:'Poppins', sans-serif ;
            text-decoration: none;
            color:$color-principal;
            margin-right: .9375rem;
            font-size: 1.25rem;
            &:hover{
                color: white;
            }
        }  
    }
    .logo{
        width: 6.25rem;
        img{
            width: 100%;
        }
    }
}