main{
    background-color:$color-principal;
    width: 100%;
    height: 100%; 
    h1{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: map-get($map: font-size, $key:md );
    } 
    .contenedorHombre a{
        text-decoration: none;
        color: white;
        font-family:'Poppins',cursive sans-serif;
        border: .125rem solid $color-principal;
        background-color:$color-principal;    
        button{
            filter: sepia(1);
            height: 12.5rem;
            background-image:url("../assets/img/parker-burchfield-tvG4WvjgsEY-unsplash.jpg");
            width: 99%;
            background-size: contain;
            margin: .625rem;
            :hover{
                filter: sepia(0);
            }
        }
    }
    .contenedorMujer a{
        text-decoration: none;
        color: white;
        border: .125rem solid $color-principal;
        background-color:$color-principal;
         button{
            height: 12.5rem;
            background-image:url("../assets/img/cam-morin-knKm7u_7Ihw-unsplash.jpg");
            width: 99%;
            background-size: contain;
            margin: .625rem;
            filter: sepia(1); 
            &:hover{
                filter: sepia(0); 
            }      
        }    
    }
    .contendorNiño a{
        text-decoration: none;
        color:white;
        border: .125rem solid $color-principal;
        background-color:$color-principal;  
         button{
            background-image: url("../assets/img/signature-june-v5jTUTeuc1c-unsplash.jpg");
            width: 99%;
            background-size: contain;
            height: 12.5rem;
            margin: .625rem;
            filter: sepia(1);  
            button:hover{
                filter: sepia(0);
            }      
        }  
    }
    .conteiner-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 100px;
        overflow: hidden; 
        .cards{
            padding-top: .0625rem;
            background-color: rgba(240, 248, 255, 0.382);
            width: 15rem;
            height: 26.25rem;
            border-radius: .625rem;
            overflow: hidden;
            box-shadow: 2px 2px .625rem rgba(255, 255, 255, 0.845);
            margin-bottom: .625rem;
            margin-right: .625rem;
            text-align: center; 
             img{
                width: 100%;
                height: 80%;
            }    
        }
        .card-2{
            background-color: bisque;  
        }
        .card-3{
            background-color: aquamarine;
        }
    }
 .botonWhats{
        position: fixed;
        right: 0rem;
        bottom: .625rem;
    }
    .igBoton{
        position: fixed;
        left: 0rem;
        bottom: .625rem;
    }
    .grids{
        padding-bottom: .125rem;
        padding-top: .125rem;
        width: 100%;
        height: 43.75rem;
        @include grids;
        .section-1{
            background-color: $bg-principal;
            grid-area: section-1;
            gap: .3125rem;
             img{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
        }
        .letra{
            text-decoration: solid;
            font-size: map-get($map: font-size, $key:sm );
            font-family: 'Poppins', sans-serif;
        }
        .section-2{
            background-color: $bg-principal;
            grid-area: section-2;
            width: 100%;
            height: 100%;
            h2{
               font-family:'Poppins', sans-serif;
            }
        }
        .formasPago{
            font-family: 'Poppins', sans-serif;
        }
        .section-3{
            background-color:$bg-principal;
            grid-area:section-3;
            width: 100%; 
            h2{
                font-family: 'Poppins', sans-serif;
                div{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .contenedorAcordeon{
        width: 100%;
        max-width: 50rem;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: .3125rem;
        height: 100%;
        h1{
            color:black;
            font-family: 'Poppins',sans-serif;
            text-align: left;
        }
        .acordeon{ 
            border: 2px solid;
            margin: .625rem;
            border-radius: .625rem;
            background-color: white;
            label{
                display: block;
                padding: 1.25rem;
                font-size: map-get($map: font-size, $key:md );
                background: beige;
                color: black;
                cursor: pointer;
                margin-bottom: .125rem;
                transition: all 300ms ease;
            }
            & label:hover{
                background-color: blanchedalmond;
            }
            .contenido-acordeon{
                padding: 0rem;
                margin: 0px .625rem;
                max-height: 0rem;
                overflow: hidden;
                transition: all 300ms ease;
            }
        }.btn-acordeon:checked ~ .contenido-acordeon{
            max-height: 37.5rem;
            padding: .625rem 0rem;
        }
        .btn-acordeon{
            display: none;
        }
        .formulario{
            border: 2px solid;
            background-color:rgb(244, 244, 194);
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 10;
            grid-row-end: 12;
        
        } 
    }
}
